* {
  margin: auto;
  padding: 0;
  font-family: "Cinzel", serif;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
}
body {
  /* background-color: rgb(241, 225, 228); */

  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7c869b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-li {
  text-decoration: none;
  font-weight: bolder;
  display: inline-block;
  margin: 0px 8px;
  padding: 1px;
  color: white;
  text-indent: 10px;
  color: white;
  font-size: 40px;
}

img {
  border-radius: 10px;
  padding: 20px 20px;
  box-shadow: 0px 10px 15px black;
  padding: 5px 5px;
}
/* img:hover {
  opacity: 50%;
  transition: 0.3s opacity ease;
} */

button {
  opacity: 80%;
  margin: 20px 20px;
  padding: 10px 10px;
  background-color: #2e4bf0;
  border: none;
  border-radius: 10px;
  color: white;
}
button:hover {
  opacity: 100%;
  transition: 0.3s opacity ease;
}
/* .cards-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: space-between;
} */
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
