* {
  /* margin: auto; */
  padding: 0;
  font-family: "Roboto";
  text-align: center;
  line-height: 40px;
  /* margin-top: 10px; */
  /* background-color: #1d3557; */
  /* color: white; */
}
header {
  background-color: #1d3557;
  color: white;
  position: sticky;
  padding: 40px;
  margin-bottom: 40px;
}
.nav-li {
  text-decoration: none;
  color: white;
  padding: 30px;
}

.nav-li:hover {
  text-decoration: underline;
  color: white;
}
img {
  border-radius: 10px;
  padding: 20px 20px;

  padding: 5px 5px;
  width: 200px;
  height: 300px;
}

.carousel {
  width: 75%;
  /* background-color: #1d3557; */
  border-radius: 10px;
}

.button {
  width: 20%;
  margin: 10px 40px;
  padding: 10px 20px;
  background-color: hsl(231, 87%, 56%, 0.6);
  border: none;
  border-radius: 10px;
  color: white;
  font-style: bold;
  font-size: 16px;
}

.button:hover {
  background-color: hsl(231, 87%, 56%);
  transition: 0.3s opacity ease;
}

.paper {
  background-color: #436189fb;
  /* padding: 20px; */
  border-radius: 10px;
}
.MuiCard {
  background-color: red;
}
